/* Form elements */

input,
select {
  border: 1px solid $color-dark;
  border-radius: $radius;
  padding: $base-size;

  label {
    cursor: pointer;
  }

  input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    cursor: pointer;
  }
}
