.header {
  padding: ($base-size * 2) 0 ($base-size * 2) 0;
  background: black;
  color: $color-light;

  &__wrapper {
    position: relative;
    @include flex(row, flex-start, flex-start);
  }
}

.logo {
  display: inline-block;
  line-height: 1;
  flex: 0 0 50%;
  text-align: center;
  // border: 1px solid red;

  &__title {
    margin: 0 65px $base-size 0;
    font-size: ($base-size * 2);
    font-family: $font-header;
    font-weight: $font-semibold;
    letter-spacing: 6px;
    line-height: 0.5;
    text-transform: uppercase;

    span {
      font-weight: $font-bold;
    }

    a {
      text-decoration: none;
      color: $color-light;
    }
  }

  &__subtitle {
    margin: 0;
    font-size: ($base-size * 1);
    font-weight: $font-normal;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
}

.main-nav {
  // position: absolute;
  // @include flex(row, flex-start, flex-start);
  bottom: ($base-size * -8);
  flex: 0 0 50%;
  text-align: center;

  a {
    @extend .h2;
    color: lighten($color-dark, 15%);
    text-decoration: none;
    margin-right: ($base-size * 2);
    text-align: center;
    // padding: $base-size ($base-size * 2);
    // background: black;
    // border-top-left-radius: $radius;
    // border-top-right-radius: $radius;

    &.active {
      background: lighten($color-dark, 75%);
    }
  }
}
