.header {
  padding: ($base-size * 2) 0 ($base-size * 2) 0;
  background: black;
  color: $color-light;

  &__wrapper {
    position: relative;
    @include flex(row, flex-start, flex-start);
  }
}

.logo {
  display: inline-block;
  line-height: 1;
  flex: 0 0 50%;
  text-align: center;

  &__title {
    margin: 0 65px $base-size 0;
    font-size: ($base-size * 2);
    font-family: $font-header;
    font-weight: $font-semibold;
    letter-spacing: 6px;
    line-height: 0.5;
    text-transform: uppercase;

    span {
      font-weight: $font-bold;
    }

    a {
      text-decoration: none;
      color: $color-light;
    }
  }

  &__subtitle {
    margin: 0;
    font-size: ($base-size * 1);
    font-weight: $font-normal;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
}

.main-nav {
  bottom: ($base-size * 8);
  flex: 0 0 50%;
  text-align: center;

  a {
    @extend .h2;
    color: lighten($color-dark, 20%);
    text-decoration: none;
    margin-right: ($base-size * 2);
    text-align: center;

    &.active {
      color: $color-slider;
    }
  }

  .main-links {
    &:hover {
      color: $color-slider;
    }
  }
}

.burger-nav {
  display: none;
  flex: 0 0 50%;
}

@media (max-width: 499px) {
  .main-nav {
    display: none;
    position: absolute;
    right: 30px;
    top: 55px;
    z-index: 2;

    .main-links {
      color: lighten($color-dark, 20%);
      display: block;
      margin-bottom: 20px;
      text-align: left;

      &:hover {
        color: $color-slider;
      }
    }
  }

  .active {
    display: block;
  }

  .burger-nav {
    display: flex;
    text-align: center;

    .icon-menu {
      display: flex;
      color: lighten($color-dark, 20%);
      flex: 1;
      font-size: 24px;
      justify-content: center;

      &:hover {
        color: $color-slider;
      }
    }
  }

  .logo {
    &__title {
      margin: 0 45px $base-size 0;
      font-size: 14px;
    }

    &__subtitle {
      margin: 0 0 0 20px;
      text-align: left;
      font-size: 11px;
    }
  }
}
