.product-list {
  padding: ($base-size * 3) 0;
}

.main-products:nth-child(even) {
  position: relative;
  @include flex(row, flex-start, center);
  margin-right: 20px;

  .product-name {
    flex: 0 0 50%;
    height: 300px;
    width: 100%;
    padding-left: 50px;
  }
}

.main-products:nth-child(odd) {
  position: relative;
  @include flex(row, flex-start, center);
  flex-direction: row-reverse;
  margin-left: 20px;

  .product-name {
    flex: 0 0 50%;
    height: 300px;
    width: 100%;
    padding-right: 20px;
  }
}

.product-name {
  h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 30px;
  }

  p {
    position: relative;
    left: 65px;
    margin: 0 30px 30px 0;
    text-align: left;
    max-width: 220px;

    &:before {
      content: '';
      display: block;
      height: 2px;
      width: 50px;
      position: absolute;
      top: 12%;
      left: -65px;
      background-color: $color-slider;
    }
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    text-transform: uppercase;
    letter-spacing: 2px;
    list-style: none;
    font-weight: bold;

    span {
      color: $color-slider;
    }
  }

  img {
    position: absolute;
    top: 170px;
    width: 100px;
    height: 100px;
    margin: 0 0 0 150px;
  }
}

.product-img {
  margin-bottom: 30px;
  box-shadow: 0 0 12px 7px lighten($color-dark, 50%);

  img {
    display: block;
    flex: 0 0 50%;
    height: 300px;
    width: 100%;
  }
}

.products-title {
  display: block;
  text-align: center;

  h2 {
    position: relative;
    text-transform: uppercase;
    color: $color-slider;
    font-size: ($base-size * 3);
    letter-spacing: 8px;

    &:after {
      position: absolute;
      content: '';
      display: block;
      border-top: 3px solid $color-slider;
      margin-left: 37.5%;
      margin-right: 37.5%;
      height: 1px;
      width: 25%;
    }
  }
}

#product-list {
  margin: 0 auto;
}
