/* Variables */

$color-dark: #333;
$color-light: #fff;
$color-slider: #bea67c;

$font-header: 'Source Sans Pro', sans-serif;
$font-text: 'Lato', sans-serif;

$font-light: 100;
$font-normal: 400;
$font-semibold: 600;
$font-bold: 700;

$radius: 4px;

$base-size: 12px;

/* Mixins */

@mixin flex($flex-direction, $align-items, $justify-content) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

/* Helpers */

.no-spacing {
  margin: 0;
  padding: 0;
}
